# Ignore Python cache
__pycache__/
*.pyc

# Ignore quad_maps and 1990 maps
quad_maps/
kern_1990/

# Ignore outputs
outputs/

# Ignore line cleeaning and original extraction file for now
polygon_extraction.ipynb
filtered_boundaries/
clean_up_testing/filtered_boundaries/

# Ignore VS Code settings
.vscode/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/



# Ignore environment files
.env
.DS_Store